rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == uid;
    }

    match /albums/{albumId} {
      function isOwner() {
        return request.auth.uid == resource.data.ownerId;
      }
      function isMember() {
        return request.auth.uid in resource.data.members;
      }
      function willBeOwner() {
        return request.auth.uid == request.resource.data.ownerId;
      }

      allow read: if request.auth != null && isMember();
      allow create: if request.auth != null && willBeOwner();
      allow update: if request.auth != null && isMember();
      allow delete: if request.auth != null && isOwner();

      match /songs/{songId} {
        allow read, write: if request.auth != null &&
          (request.auth.uid in get(/databases/$(database)/documents/albums/$(albumId)).data.members);

        match /notes/{noteId} {
          allow read, write: if request.auth != null &&
            (request.auth.uid in get(/databases/$(database)/documents/albums/$(albumId)).data.members);
        }

        match /files/{fileId} {
          allow read, write: if request.auth != null &&
            (request.auth.uid in get(/databases/$(database)/documents/albums/$(albumId)).data.members);
        }

        match /subtasks/{subtaskId} {
          allow read, write: if request.auth != null &&
            (request.auth.uid in get(/databases/$(database)/documents/albums/$(albumId)).data.members);
        }

        match /links/{linkId} {
          allow read, write: if request.auth != null &&
            (request.auth.uid in get(/databases/$(database)/documents/albums/$(albumId)).data.members);
        }
      }
    }
  }
}
